@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x: hidden;
}
input , textarea{
  background-color: transparent;
}

.point-pattern{
  background-image: radial-gradient(circle , transparent 50% , #fafafa 70%) , radial-gradient(circle , rgba(163, 163, 163, 0.3) 20% , #fafafa 20% );
  background-size: auto , 1rem 1rem;
}

@media screen and (max-width : 360px) {
  html{
    font-size: 14px;
  }
}